<div>Signed in as... <%= current_user.id %><%= current_user.email %></div>
<%= form_for :ad, url: ads_path , :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>