<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>UserId:</strong>
  <%= @ad.user_id %>
</p>

<p>
	<strong>Image:</strong>
	<br/>
	<%= image_tag @ad.ad_image.url %>
	<br/>
	<%= @ad.ad_image.url %>
	<br/>
	<%= @ad.ad_image.current_path %>
	<br/>
	<%= @ad.ad_image.identifier %>
</p>