<% content_for :extra_assets do %>
<% end %>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header>

<div class="container">
  <%- #debug(@goods.categories) if Rails.env.development? -%>
  <%- #debug(@services.categories) if Rails.env.development? -%>
  <div class="row main-margins">
    <div class="col-xs-6">
      <div class="row"><h1><%= @goods.name %></h1></div>
      <% @goods.categories.each do |subcategory| %>
      <div class="row" id="<%=subcategory.id%>">
        <h2><%= link_to subcategory.name, category_posts_path(subcategory) %></h2>
      </div>
      <% end %>
    </div>
    <div class="col-xs-6">
      <div class="row"><h1><%= @services.name %></h1></div>
      <% @services.categories.each do |subcategory| %>
      <div class="row" id="<%=subcategory.id%>">
        <h2><%= link_to subcategory.name, category_posts_path(subcategory) %></h2>
      </div>
      <% end %>
    </div>
  </div>
</div>
