<% content_for :extra_assets do %>
<% end %>
<!--<section class="want-form">
  <div class="post-form-create text-center primary-color">
    <h3>Post What You Need</h3>
    <input class="form-control" type="text" placeholder="I need ...">
  </div>
</section>-->
<div class="container">
  <%- #debug(@goods.categories) if Rails.env.development? -%>
  <%- #debug(@services.categories) if Rails.env.development? -%>
  <div class="row main-margins">
    <div class="col-xs-6">
      <div class="row"><h1><%= @goods.name %></h1></div>
      <% @goods.categories.each do |subcategory| %>
      <div class="row" id="<%=subcategory.id%>">
        <h2><%= link_to subcategory.name, category_posts_path(subcategory) %></h2>
      </div>
      <% end %>
    </div>
    <div class="col-xs-6">
      <div class="row"><h1><%= @services.name %></h1></div>
      <% @services.categories.each do |subcategory| %>
      <div class="row" id="<%=subcategory.id%>">
        <h2><%= link_to subcategory.name, category_posts_path(subcategory) %></h2>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!--<section class="reset-padding padding-v recent-posts">
  <div class="row">
    <div class="col-md-8">
      <div class="full">
        <h1 class="post-section-title"><i class="fa fa-search"></i>Search for Posts</h1>
        <h3 class="post-section-subtitle" style="margin-bottom: 0;">Use our awesome search tool to find what people need!</h3>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>-->