<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Num Ads: <%= @user.ads.size %> </p>
<% @user.ads.each do |ad|  %>
 <p>
      <%= ad.title %> <%= ad.description %>
 </p>
<% end %>
