<div>Signed in as... <%= current_user.id %><%= current_user.email %></div>
<div class="container">
<%= simple_form_for :post, url: posts_path , :html => {:multipart => true, class: 'form-horizontal'} do |f| %>

    <%= f.input :title %>

    <%= f.input :description, as: :text %>

    <%= f.input :image, :as => :file %>

    <%= f.button :submit %>

<% end %>
</div>