<% content_for :for_head do %>
	<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-US"></script>
	<script>
		var options = {
        types: ['(cities)']
    	};
		var autocomplete = new google.maps.places.Autocomplete($("#location")[0], options);
    	google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
    });
	</script>
    <script>
        $('input, select').keypress(
            function(event) { 
                return event.keyCode != 13; 
            });
    </script>
<% end %>

<div>Signed in as... <%= current_user.id %><%= current_user.email %></div>
<div class="container">
	
<%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    
    <%= f.input :title %>

    <%= f.input :description, as: :text %>

    <%= f.input :category, as: :select, collection: @categories, prompt: "Choose a category" %>

    <%= f.input :location, input_html: { id: 'location' } %>

    <%= yield :for_head %>

    <%= f.input :image, :as => :file %>

    <%= f.button :submit %>

<% end %>
</div>