<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>UserId:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>CategoryId:</strong>
  <%= @post.category_id %>
</p>

<p>
	<strong>Image:</strong>
	<br/>
	<%= image_tag @post.image.image.url if @post.image %>
	<br/>
	<%= @post.image.image.url if @post.image %>
	<br/>
	<%= @post.image.image.current_path if @post.image %>
	<br/>
	<%= @post.image.image.identifier if @post.image %>
</p>

<%= button_to "Reply", reply_post_path(@post), method: "get", class: "btn btn-primary" %>
<%= reply_post_path(@post) %>