<%- #debug(@category.posts) if Rails.env.development? -%>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @category.name %></h1>
    </div>
    <div class="col-xs-6 text-right button-top-buffer">
      <%= link_to 'New Post', new_post_path(category_id: @category.id), class: "btn btn-primary" %>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-2">
        <h4><%= post.updated_at.strftime("%d %b %Y") %></h4>
      </div>
      <div class="col-xs-10">
        <h4><%= link_to post.title, post_path(post) %></h4>
      </div>
    </div>
  <% end %>
  <%= will_paginate @posts %>
</div> 